<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LinqLogin.Properties.Settings.db_13ConnectionString"
            connectionString="Data Source=MRWXK\WANGXIAOKE;Initial Catalog=db_13;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>